<div id="content" class="snap-content" data-snap-ignore="true">
  <div class="container-fluid ">

    <!-- Header -->
    <div class="row display">

      <!-- Left header -->
      <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="right">
        <div id="Stimulus1">
          Stimulus: Tone
        </div>
        <div id="Transducer1">
          Transducer: Phone
        </div>
        <div id="Routing1">
          Routing: Left
        </div>
      </div>-->

      <!-- Middle header -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
          &nbsp
        </div>
        <div id="countdown" class="clock">
          0:00
        </div>
        <div id="result" class="clock">
          <img src="images/graylight.png" height="40px" />
        </div>
      </div>

      <!-- Right header -->
      <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left">
        <div id="Stimulus2">
          Stimulus: Tone
        </div>
        <div id="Transducer2">
          Transducer: Phone
        </div>
        <div id="Routing2">
          Routing: Right
        </div>
      </div>
    </div>-->

    <!-- Main audiometer area -->
    <div class="row controls">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- Controls (besides frequency buttons) -->
        <div class="row">

          <!-- Left arrow -->
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="toggler" id="ol" src="./images/arrow-left.png" alt="">
          </div>

          <!-- Left button area -->
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 left">

            <!-- Top left button area -->
            <div class="row divider-bottom divider-right">

              <!-- FM/PULSE/ALT/SISI buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-default" disabled>
                  FM
                </button>
                <button id="pulse" class="btn btn-default" onclick="changeColor(this.id)" disabled>
                  Pulse
                </button>
                <button class="btn btn-default" onclick="responseLeft()" disabled>
                  ALT
                </button>
                <button class="btn btn-default" onclick="responseRight()" disabled>
                  SISI
                </button>
              </div>

              <!-- Left TONE/MIC/EXT A/EXT B buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top-left color">
                <div class="oldSpan">Stimulus</div>
                <button id="Tone" class="btn btn-default" onclick="changeColorBlue(this.id)"> <!--print_stimulus('Stimulus1', 'Tone');-->
                  Tone
                </button>
                <button class="btn btn-default" disabled>
                  MIC
                </button>
                <button class="btn btn-default" disabled>
                  EXT A
                </button>
                <button class="btn btn-default" disabled>
                  EXT B
                </button>
              </div>

              <!-- Left PHONE/BONE/SPKR/INSERT buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 top-right color">
                <div class="oldSpan">
                  Transducer
                </div>
                <button id="Phone" class="btn btn-default" onclick="changeColorBlue(this.id); clearButtonColors('Bone')">
                  Phone
                </button><!--print_transducer('Transducer1', 'Phone'); -->
                <button id="Bone" class="btn btn-default" onclick="changeColorBlue(this.id); clearButtonColors('Phone')"> <!--print_transducer('Transducer1', 'Bone');-->
                  Bone
                </button>
                <button class="btn btn-default" onclick="print_transducer('Transducer1', 'SPKR')" disabled>
                  SPKR
                </button>
                <button class="btn btn-default" onclick="print_transducer('Transducer1', 'Insert')" disabled>
                  Insert
                </button>
              </div>
            </div>

            <!-- Bottom left button area -->
            <div class="row divider-right">

              <!-- Left INTERRUPT/PRESENT buttons and slider -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color top-left bottom-left divider-right present-box">
                <!-- <button id="Interrupt" class="btn btn-default" onclick="changeColor(this.id);clearButtonColors('Present1')" disabled> -->
                <button id="Interrupt" class="btn btn-default" onclick="changeColor(this.id);"disabled>
                  Interrupt
                </button>
                <input id="range1" type="range" step="5" min="-10" max="100" value="0">
                <i class="fa fa-minus" aria-hidden="true" style="cursor: pointer; font-size:25px; margin-right: 10px; margin-top: 3px; margin-bottom: 8px;" onclick="decreaseDB('range1');"></i>
                <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; font-size:25px; margin-left: 10px; margin-top: 3px; margin-bottom: 8px;" onclick="increaseDB('range1');"></i>
                <br>
                <button id="Present1" class="btn btn-default btn-long" onclick="presentLeft(this.id);clearButtonColors('Interrupt')">
                  Present
                </button>
              </div>

              <!-- Left NB/SPEECH/NOISE buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color">
                <div class="oldSpan">
                  Noise
                </div>
                <button id="NB" class="btn btn-default" onclick="changeColorBlue(this.id); nbplay()">
                  NB
                </button>
                <button class="btn btn-default" disabled>
                  Speech
                </button>
                <button class="btn btn-default" disabled>
                  White
                </button>
              </div>

              <!-- Left LEFT/RIGHT/BOTH buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color bottom-right">
                <div class="oldSpan">
                  Routing
                </div>
                <button id="Left" class="btn btn-default" onclick="changeColorBlue(this.id); clearButtonColors('Right')"> <!--print_routing('Routing1', 'Left'); -->
                  <!--Logic needed-->
                  Left
                </button>
                <button id="Right" class="btn btn-default" onclick="changeColorBlue(this.id), clearButtonColors('Left')"> <!--print_routing('Routing1', 'Right'); -->
                  Right
                </button>
                <button class="btn btn-default" onclick="print_routing('Routing1', 'Both')" disabled>
                  Both
                </button>
              </div>
            </div>
          </div>

          <!-- Right button area -->
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <!-- Top right button area -->
            <div class="row divider-bottom">

              <!-- Right PHONE/BONE/SPKR/INSERT buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color top-left">
                <div class="oldSpan">
                  Transducer
                </div>
                <button id="Phone2" class="btn btn-default" onclick=" changeColor(this.id); clearButtonColors('Bone2')"> <!--print_transducer('Transducer2', 'Phone');-->
                  Phone
                </button>
                <button id="Bone2" class="btn btn-default" onclick="changeColor(this.id); clearButtonColors('Phone2')"> <!--print_transducer('Transducer2', 'Bone'); -->
                  Bone
                </button>
                <button class="btn btn-default" onclick="print_transducer('Transducer2', 'SPKR')" disabled>
                  SPKR
                </button>
                <button class="btn btn-default" onclick="print_transducer('Transducer2', 'Insert')" disabled>
                  Insert
                </button>
              </div>

              <!-- Right TONE/MIC/EXT A/EXT B buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color top-right">
                <div class="oldSpan">
                  Stimulus
                </div>
                <button id="Tone2" class="btn btn-default" onclick="changeColor(this.id)"> <!--print_stimulus('Stimulus2', 'Tone'); -->
                  Tone
                </button>
                <button class="btn btn-default" onclick="print_stimulus('Stimulus2', 'MIC')" disabled>
                  MIC
                </button>
                <button class="btn btn-default" onclick="print_stimulus('Stimulus2', 'EXT A')" disabled>
                  EXT A
                </button>
                <button class="btn btn-default" onclick="print_stimulus('Stimulus2', 'EXT B')" disabled>
                  EXT B
                </button>
              </div>

              <!-- Top far right area -->
              <!-- NOTE: I'm pretty sure this is what's breaking stuff -Henry -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <!-- The following code is the indicator box. It needs to be responsive - right now it kind of makes things ugly -->
                <!--       <svg width="100%" height="100%" style="height:80px">
                  <rect width="100%" height="100%" rx=20 ry=20 style="fill:rgb(157,177,81)"
                  id="indicator">
                  onmouseover="evt.target.setAttribute('opacity','0.5');"
                  onmouseout="evt.target.setAttribute('opacity', '1');"/>
                </svg> -->
                <!-- End indicator box -->

                <!-- MATCH/RESET buttons -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bottom-ight">
                  <button class="btn btn-default" id="match" onclick="simulate(); changeColor(this.id)">
                    Match
                  </button>
                  <!-- <button class="btn btn-default" id ="reset" onclick="reset()"> -->
                  <button class="btn btn-default" id ="reset" onclick="reset('match');">
                    Reset
                  </button>
                </div>
              </div>
            </div>

            <!-- Bottom right button area -->
            <div class="row">

              <!-- Right LEFT/RIGHT/BOTH buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color bottom-left">
                <div class="oldSpan">
                  Routing
                </div>
                <button id="Left2" class="btn btn-default" onclick="changeColor(this.id); clearButtonColors('Right2')"> <!--print_routing('Routing2', 'Left'); -->
                  Left
                </button>
                <button id="Right2" class="btn btn-default" onclick="changeColor(this.id); clearButtonColors('Left2')"> <!--print_routing('Routing2', 'Right'); -->
                  Right
                </button>
                <button class="btn btn-default" onclick="print_routing('Routing2', 'Both')"
                disabled>
                  Both
                </button>
              </div>

              <!-- Right NB/SPEECH/WHITE buttons -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color">
                <div class="oldSpan">
                  Noise
                </div>
                <button id="NB2" class="btn btn-default" onclick="changeColor(this.id); nbplay()">
                  NB
                </button>
                <button class="btn btn-default" disabled>
                  Speech
                </button>
                <button class="btn btn-default" disabled>
                  White
                </button>
              </div>

              <!-- Right INTERRUPT/PRESENT buttons and slider -->
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 color top-right bottom-right divider-left present-box">
                <button id="Interrupt2" class="btn btn-default" onclick="changeColor(this.id); clearButtonColors('Present2')" disabled>
                  Interrupt
                </button>
                <input id="range2" type="range" step="5" min="-10" max="100" value="0">
                <i class="fa fa-minus" aria-hidden="true" style="cursor: pointer; font-size:25px; margin-right: 10px; margin-top: 3px; margin-bottom: 8px;" onclick="decreaseDB('range2');"></i>
                <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; font-size:25px; margin-left: 10px; margin-top: 3px; margin-bottom: 8px;" onclick="increaseDB('range2');"></i>
                <br>
                <button id="Present2" class="btn btn-default btn-long" onclick="presentRight(this.id);clearButtonColors('Interrupt2')">
                  Present
                </button>
              </div>
            </div>
          </div>

          <!-- Right arrow -->
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img class="toggler" id="or" src="./images/arrow-right.png" alt="">
          </div>
        </div>

        <!-- Frequency buttons -->
        <div class="row frequency">
            <!-- Middle left header -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="decibel" id="dB1">
                0 dB HL
              </div>
            </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 color top-left bottom-left">
            <button class="btn btn-default" onclick="printHz('Freq', FreqMinus())">
              Freq -
            </button>
          </div>
          <div id="Freq" class="decibel col-xs-2 col-sm-2 col-md-2 col-lg-2">
            250 Hz
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 color top-right bottom-right">
            <button class="btn btn-default" onclick="printHz('Freq', FreqPlus())">
              Freq +
            </button>
          </div>
        <!-- Middle right header -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="decibel" id="dB2">
            0 dB HL
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
