      <!-- Patient information and Audiogram drawers -->
      <div class="snap-drawers">
        <!-- Patient information drawer -->
        <div class="snap-drawer snap-drawer-left">
          <div>
            <h3>Patients</h3>
            <div class="demo-social">
            </div>
            <h4>Information</h4>
            <div class="snap-drawer-left">
              <div id = "Patient-Columns">
                <img src="images/portrait-1.png" style="width: 25%; height: 25%; ">
                <button type="button" class="btn btn-primary" onclick="openform('Popup')">
                  Add Patient
                </button>
              </div>
              <div id="Patient-Columns">
                <img src="images/portrait-3.png" style="width: 25%; height: 25%;">
                <button type="button" class="btn btn-primary" onclick="openform('Popup_3')">
                  Edit Patient
                </button>
              </div>
              <div id = "Patient-Columns">
                <img src="images/portrait-2.png" style="width: 25%; height: 25%;">
                <button type="button" class="btn btn-primary" onclick="openform('Popup_2')">
                  Select Patient
                </button>
              </div>
              <!-- Pop up Menu to add new patient to database -->
              <div id="Popup" class="popups">
                <form action="php/add_patient.php" id= "form" method="get" name = "patient">
                <img id="close" src="images/redX.png" onclick ="closeform('Popup')">
                <button type= "button" style="float: right;" class="btn btn-primary" onclick="">Upload File</button>
                <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
                <h2 style="text-align: center;">New Patient Information</h2>
                <input name="first_name" id= "form-input" placeholder="First Name" type="text">
                <input name="last_name" id= "form-input" placeholder="Last Name" type="text">
                <input name="description" id= "form-input" placeholder="Description" type="text">

                <input name="R_125" id= "form-input" placeholder="Right ear max at 125Hz" type="text">
                <input name="R_250" id= "form-input" placeholder="Right ear max at 250Hz" type="text">
                <input name="R_500" id= "form-input" placeholder="Right ear max at 500Hz" type="text">
                <input name="R_750" id= "form-input" placeholder="Right ear max at 750Hz" type="text">
                <input name="R_1000" id= "form-input" placeholder="Right ear max at 1000Hz" type="text">
                <input name="R_1500" id= "form-input" placeholder="Right ear max at 1500Hz" type="text">
                <input name="R_2000" id= "form-input" placeholder="Right ear max at 2000Hz" type="text">
                <input name="R_3000" id= "form-input" placeholder="Right ear max at 3000Hz" type="text">
                <input name="R_4000" id= "form-input" placeholder="Right ear max at 4000Hz" type="text">
                <input name="R_6000" id= "form-input" placeholder="Right ear max at 6000Hz" type="text">
                <input name="R_8000" id= "form-input" placeholder="Right ear max at 8000Hz" type="text">

                <input name="L_125" id= "form-input" placeholder="Left ear max at 125Hz" type="text">
                <input name="L_250" id= "form-input" placeholder="Left ear max at 250Hz" type="text">
                <input name="L_500" id= "form-input" placeholder="Left ear max at 500Hz" type="text">
                <input name="L_750" id= "form-input" placeholder="Left ear max at 750Hz" type="text">
                <input name="L_1000" id= "form-input" placeholder="Left ear max at 1000Hz" type="text">
                <input name="L_1500" id= "form-input" placeholder="Left ear max at 1500Hz" type="text">
                <input name="L_2000" id= "form-input" placeholder="Left ear max at 2000Hz" type="text">
                <input name="L_3000" id= "form-input" placeholder="Left ear max at 3000Hz" type="text">
                <input name="L_4000" id= "form-input" placeholder="Left ear max at 4000Hz" type="text">
                <input name="L_6000" id= "form-input" placeholder="Left ear max at 6000Hz" type="text">
                <input name="L_8000" id= "form-input" placeholder="Left ear max at 8000Hz" type="text">

                <input name="BR_125" id= "form-input" placeholder="Right ear bone max at 125Hz" type="text">
                <input name="BR_250" id= "form-input" placeholder="Right ear bone max at 250Hz" type="text">
                <input name="BR_500" id= "form-input" placeholder="Right ear bone max at 500Hz" type="text">
                <input name="BR_750" id= "form-input" placeholder="Right ear bone max at 750Hz" type="text">
                <input name="BR_1000" id= "form-input" placeholder="Right ear bone max at 1000Hz" type="text">
                <input name="BR_1500" id= "form-input" placeholder="Right ear bone max at 1500Hz" type="text">
                <input name="BR_2000" id= "form-input" placeholder="Right ear bone max at 2000Hz" type="text">
                <input name="BR_3000" id= "form-input" placeholder="Right ear bone max at 3000Hz" type="text">
                <input name="BR_4000" id= "form-input" placeholder="Right ear bone max at 4000Hz" type="text">
                <input name="BR_6000" id= "form-input" placeholder="Right ear bone max at 6000Hz" type="text">
                <input name="BR_8000" id= "form-input" placeholder="Right ear bone max at 8000Hz" type="text">

                <input name="BL_125" id= "form-input" placeholder="Left ear bone max at 125Hz" type="text">
                <input name="BL_250" id= "form-input" placeholder="Left ear bone max at 250Hz" type="text">
                <input name="BL_500" id= "form-input" placeholder="Left ear bone max at 500Hz" type="text">
                <input name="BL_750" id= "form-input" placeholder="Left ear bone max at 750Hz" type="text">
                <input name="BL_1000" id= "form-input" placeholder="Left ear bone max at 1000Hz" type="text">
                <input name="BL_1500" id= "form-input" placeholder="Left ear bone max at 1500Hz" type="text">
                <input name="BL_2000" id= "form-input" placeholder="Left ear bone max at 2000Hz" type="text">
                <input name="BL_3000" id= "form-input" placeholder="Left ear bone max at 3000Hz" type="text">
                <input name="BL_4000" id= "form-input" placeholder="Left ear bone max at 4000Hz" type="text">
                <input name="BL_6000" id= "form-input" placeholder="Left ear bone max at 6000Hz" type="text">
                <input name="BL_8000" id= "form-input" placeholder="Left ear bone max at 8000Hz" type="text">
                </form>
              </div>

              <div id="Popup_2" class="popups">
                <img id="close" src="images/redX.png" onclick ="closeform('Popup_2')">
                <h4> Select a Patient </h4>
                <?php
                  include 'php/connection.php';
                  $sql = "SELECT id, first_name, last_name FROM patients";
                  $result = mysqli_query($conn, $sql);
                  if (mysqli_num_rows($result) > 0) {
                    echo '<form><select id="form-input" name="users" onchange="showPatient(this.value)"><option value="">Select a person:</option>';
                    while ($row = mysqli_fetch_assoc($result)) {
                      echo  '<option value="' .$row["id"] . '">' . $row["first_name"] . ' ' . $row["last_name"] . '</option>';
                    }
                    echo '</select></form>';
                  }
                  else
                  {
                    echo "No patients found :(";
                  }
                ?>
                <div id="selectPatient">
                </div>
                <button type="button" class="btn btn-primary" id="hidden-button" onclick="loadPatient()">
                  Load Patient
                </button>
              </div>

            </div>
          </div>
        </div>